---
import Layout from '../layouts/Layout.astro'
import MinimalLogo from '../components/MinimalLogo'
import ScrollDownButton from '../components/ScrollDownButton';
import GreetingText from '../components/GreetingText';
import Experience from '../components/Experience';
---

<Layout title="Portfolio">
	<main
		class="w-full h-full min-h-screen flex flex-col items-center text-lg p-2 gap-20"
	>
		<GreetingText client:visible />
		<MinimalLogo client:visible />
		<ScrollDownButton client:only/>
	</main>

	<main
		class="w-full h-full min-h-screen bg-third flex flex-col items-center"
	>
		<Experience />	
	</main>
</Layout>
