---
const { width, height } = Astro.props
---

<div
  class=`grid w-full h-full max-w-[${width}vmin] min-h-[${height}vmin] grid-cols-2 grid-rows-2 gap-x-2`
>
  <div class="w-full h-full bg-third rounded-l-full"></div>
  <div class="w-full h-full bg-fourth rounded-full"></div>
  <div class="w-full h-full bg-second rounded-l-full"></div>
  <div class="flex w-full h-1/4 bg-white self-center rotate-45 shadow-2xl shadow-second">
    <div class="bg-first h-full w-1/5"></div>
    <div class="bg-second h-full w-1/5"></div>
    <div class="bg-third h-full w-1/5"></div>
    <div class="bg-fourth h-full w-1/5"></div>
    <div class="bg-fifth h-full w-1/5"></div>
  </div>
</div>
