---
import '../styles/global.css'
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Bogdan Raicu - Frontend Developer Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Lekton:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-first text-second font-inter font-bold">
		<slot />
	</body>
</html>
