---
import SocialMediaMenu from '../components/SocialMediaMenu'
import SocialMediaMenuMobile from '../components/SocialMediaMenuMobile'
const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Varela+Round&display=swap');
		</style>
		
		<title>{title}</title>
	</head>
	<body
		class="overflow-x-hidden text-second flex flex-col min-h-[100vh] justify-center items-center bg-first font-inter font-bold"
	>
	<SocialMediaMenu client:only />
	<SocialMediaMenuMobile client:only />
		<slot />
	</body>
</html>
